@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #000;
    position: relative;
    padding: 0 20%;
    padding-top: 120px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    padding-bottom: 200px;

    & ::before {
        content: "";
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('img/fondo.jpg');
        opacity: 0.5; 
        z-index: -1;
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #000, #0a0a20 40%, #1b1b3d, #2c2c5a, #3e3e7b);
    height: 120px;
    border-bottom: 2px solid #fffa;

    & .header__logo {
        width: 110px;
    }
}

@media screen and (max-width: 900px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }

    .rocket {
        display: none;
    }
}

/* MAIN SECTION */

.main {
    border-bottom: 1px solid #fff;
    padding-bottom: 70px;
}

.main-header {
    display: flex;
    flex-direction: column;

    margin-top: 60px;

    & h1 {
        font-weight: 500;
        border-bottom: 1px solid #fff5;
        padding-bottom: 4px;
        margin-bottom: 20px;
    }

    & h3 {
        font-weight: 500;
        margin-bottom: 10px;

        & span {
            color: #fffa;
        }
    }

    & .main-header__copyright {
        margin-top: 10px;
        color: #fffa;
    }

    & .main-header__img {
        width: auto;
        object-fit: cover;
        margin-top: 30px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff5;
        min-height: 150px;

        & span {
            padding: 5px 15px;
            padding-bottom: 7px;
            background-color: #fff;
            color: #000;
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer;
            box-shadow: 0 0 10px #fff8;
            transition: all 0.3s;
        }

        & span:hover {
            background-color: #aaa;
        }

        & img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .main-header {
        & .main-header__img {
            width: 100%;
        }
    }
}

/* STATIONS SECTION */

.stations {
    margin-top: 15px;

    & h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    & iframe {
        width: 100%;
    }
}

/* LAUNCHES SECTION */

.launches {
    margin-top: 30px;

    & h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    & .launches-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .launches-container__item {
            box-shadow: 5px 5px 10px #fff3;
            background-color: #fff5;
            border-radius: 5px;
            padding: 0 20px;
            width: 450px;
            max-width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h6 {
                font-weight: 800;
                color: #000;
                font-size: 1.3rem;
            }

            & .success {
                font-weight: 900;
                color: #0f0;
            }

            & .failure {
                font-weight: 900;
                color: #f00;
            }
        }
    }
}

/* PEOPLE SECTION */

.people-space {
    margin-top: 30px;

    & h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 20px;

        & span {
            color: #fff8;
        }
    }

    .people-space__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    
        & .people-space__container-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            width: calc((100% / 3) - 20px); 
            height: 80px;
            background-color: #fff8;
            padding: 0 20px;
            border-radius: 5px;
    
            & h6 {
                color: #000;
                font-weight: 900;
                font-size: 1rem;
            }
    
            & p {
                color: #000;
                font-weight: 700;
                font-size: .7rem;
            }
        }
    }
}

@media (max-width: 1145px) {
    .people-space {
        & .people-space__container {
            & .people-space__container-item {
                width: calc((100% / 2) - 20px); 
            }
        }
    }
}

@media (max-width: 530px) {
    .people-space {
        & .people-space__container {
            & .people-space__container-item {
                width: 100%; 
            }
        }
    }
}

/* GALERY SECTION */

.galery {
    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 60px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }

    .galery-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        
        img {
            width: calc(33.33% - 10px); 
            margin-bottom: 10px;
            object-fit: cover; 
            border-radius: 8px; 
        }
    }
}

@media screen and (max-width: 1100px) {
    .galery {
        & .galery-container {
            & img {
                width: calc(50% - 10px); 
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .galery {
        & .galery-container {
            & img {
                width: calc(100%); 
            }
        }
    }
}




/* FOOTER SECTION */

.footer {
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: transparent;
}

.footer-madeby {
    font-size: .9rem;
    padding: 5px 10px;
    border: 1px solid #fff4;
    width: 210px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    color: #fffa;
}

.footer-madeby__heart {
    color: var(--yellow);
    width: 10px;
    height: 10px;

    animation: heartbeat 1s ease-in-out infinite;
}

@keyframes heartbeat {
    0%, 100% {
      transform: scale(2);
    }
    50% {
      transform: scale(3);
    }
}

/* ROCKETS */

.rocket1 {
    position: absolute;
    bottom: 0px;
    left: 20px;
    height: 150px;
}

.rocket2 {
    position: absolute;
    bottom: 0px;
    right: 20px;
    height: 150px;
}